body {
    background-color: beige;
    font-family: Verdana, sans-serif;
}

#container{
    margin: auto;
    width: 800px;
}
.button-group {
    position: relative;
    /* display: flex; */
    margin: 10px;
    width: 400px;
    height: 100px;
}
.button-group input{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}